{% extends 'userapp/base.html' %}
{% block title %}
Appointment Form
{% endblock %}
{% block content %}
<style>
    /* Custom CSS styles for the appointment form */
    .container {
        margin-top: 100px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #ebebeb;
    }

    th {
        background-color: #222;
        font-weight: 100;
        color: #006de1;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
<div class="container">
    <form action="{% url 'appointment_form_view' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Full Name</th>
                <th>Contact</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td>{{ patient.contact }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.address }}</td>
                <td>
                    <!-- Update button -->
                    <a href="{% url 'update_patient_view' id=patient.id %}" class="btn btn-primary">Update</a>
                    <!-- Delete button -->
                    <a href="{% url 'delete_patient_view' id=patient.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}