{% extends 'userapp/base.html' %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<style>
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
</style>

<div class="profile-card" style="margin-top: 200px;">
    <h2>User Information</h2>
    <p><strong>Name:</strong> {{request.session.first_name}} {{request.session.last_name}}</p>
    <p><strong>Email:</strong> {{request.session.email}}</p>
    <p><strong>Contact:</strong> {{request.session.contact}}</p>
    <p><strong>Role:</strong> {{request.session.role}}</p>

    <div class="logout-button-container">

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
</div>
{% endblock %}